*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-div{
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}
.input-container{
    width: 60%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
    background-color: aliceblue;
}
.input-container h1{
    text-align: center;
}
.input-box{
    border-radius: 10px;
    background-color: aliceblue;
    margin: 8px;
    padding: 4px 0 4px 8px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px;
    text-align: center;
}
.add-btn{
    border-radius: 50%;
    background-color: rgb(6, 100, 183);
    color: #fff;
    margin-left: 5px;
    width: 33px;
    height: 33px;
    font-weight: bold;
    box-shadow: 0 0 5px;;
    border: none;
}
.add-btn:hover{
    background-color: green;
}
.item-style{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.fa-solid{
    margin-right: 40px;
    cursor: pointer;
    margin-top: auto;
}
.fa-solid:hover{
    color: crimson;
}